.exercise_type_div {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-decoration: none
}

.exercise_image {
  width: 40%;
  height: 70px;
  padding-bottom: 7px;
}

.exercise_details {
  font-size: 1.2em;
  font-weight: 100;
}

.exercise_complete {
  font-size: .85em;
  font-weight: 100;
}


.exercise-total-component-div {
  margin-bottom: 63px;
}