.header_div {
    background-color: #4B77BE;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.workout_header {
    font-size: 1.8em;
    font-weight: 100;
    padding-top: 17px;
}

.workout_time {
    font-weight: 100;
    font-size: 1.05em;
    padding-bottom: 20px;
}