.new-exercise-text-field div {
  font-size: 25px;
}

.exercise-name-field {
  margin-left: 50px;
}

.exercise-category {
  margin-left: 26px;
}

.image-result {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.images {
 width: 250px;
 text-align: center;
 margin-left: 10%;
}

.image-selected {
    border: 5px solid green;
}